Magic 271485
Revision Verdi_T-2022.06

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 25 1920 604 251 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/master/project/cm3_ahbmtx_mcu/sim/verilog_sim/fw_test/TOP.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
windowTimeUnit 1us

; waveform viewport range
zoom 25.452216 143.759750 1u
cursor 35.868750
marker 43.931250

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 20
; marker line index
markerPos 25

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/master/project/cm3_ahbmtx_mcu/sim/verilog_sim/fw_test/TOP.fsdb"
addSignal -h 15 /TOP/u_encoder_model/encoder_quadrature_enable
addSignal -h 15 -UNSIGNED -HEX /TOP/u_mcu_top/u_fp_domain/u_apb0_sync_top/u_debug_reg/debug0[31:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope debug1[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope debug2[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope debug3[31:0]
addSignal -h 15 /TOP/u_mcu_top/u_fp_domain/u_apb2_async_top/u_advtim/u_advtim_pe_core/u_advtim_cnt_enc/pe_enc_tim_enable
addGroup "G2"
addSignal -h 15 /TOP/u_mcu_top/u_fp_domain/u_apb2_async_top/u_advtim/u_advtim_pe_core/u_advtim_cnt_enc/ec1prefc
addSignal -h 15 /TOP/u_mcu_top/u_fp_domain/u_apb2_async_top/u_advtim/u_advtim_pe_core/u_channel_ctrl/ec1nrefc
addSignal -h 15 /TOP/u_mcu_top/u_fp_domain/u_apb2_async_top/u_advtim/u_advtim_pe_core/u_advtim_cnt_enc/ec1prefc_first_detected
addSignal -h 15 -holdScope ec1prefc_second_detected
addSignal -h 15 -holdScope ec1nrefc_first_detected
addSignal -h 15 -holdScope ec1nrefc_second_detected
addGroup "G3"
addSignal -h 15 /TOP/u_mcu_top/u_fp_domain/u_apb2_async_top/u_advtim/u_advtim_pe_core/u_advtim_cnt_enc/timing_base_enable
addSignal -h 15 -UNSIGNED -HEX -holdScope r_arr_last[23:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope arr_cnt[23:0]
addSignal -h 15 -holdScope arr_flag_end
addSignal -h 15 -holdScope pe_enc_hw_update
addSignal -h 15 -holdScope cnt_pre_end
addSignal -h 15 -UNSIGNED -HEX -holdScope r_arr_last[23:0]
addSignal -h 15 -holdScope int_status_enc_reloaded
addGroup "G4"
addSignal -h 15 /TOP/u_mcu_top/u_fp_domain/u_apb2_async_top/u_advtim/u_advtim_pe_core/u_channel_ctrl/ec1prefc
addSignal -h 15 -holdScope ec1nrefc
addSignal -h 15 /TOP/u_mcu_top/u_fp_domain/u_apb2_async_top/u_advtim/u_advtim_pe_core/u_advtim_cnt_enc/arr_flag_end
addSignal -h 15 /TOP/u_mcu_top/u_fp_domain/u_apb2_async_top/u_advtim/u_advtim_pe_core/u_advtim_cnt_enc/u_channel_encoder_input/ec1prefc_first_detected
addSignal -h 15 -holdScope ec1prefc_second_detected
addSignal -h 15 -holdScope encoder_detected_in_mode2
addSignal -h 15 -holdScope encoder_detected
addSignal -h 15 -UNSIGNED -HEX -holdScope encoder_cnt[15:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope r_ec[15:0]
addGroup "G5"
addSignal -h 15 /TOP/u_mcu_top/u_fp_domain/u_apb2_async_top/u_advtim/u_advtim_pe_core/u_advtim_cnt_enc/ec1prefc
addSignal -h 15 -holdScope ec1nrefc
addSignal -h 15 -holdScope arr_flag_end
addSignal -h 15 /TOP/u_mcu_top/u_fp_domain/u_apb2_async_top/u_advtim/u_advtim_pe_core/u_advtim_cnt_enc/u_channel_encoder_input/ec1prefc_first_detected
addSignal -h 15 -holdScope ec1prefc_second_detected
addSignal -h 15 -holdScope ec1nrefc_first_detected
addSignal -h 15 -holdScope ec1nrefc_second_detected
addSignal -h 15 -holdScope encoder_detected_in_mode2
addSignal -h 15 -holdScope encoder_detected
addSignal -h 15 -UNSIGNED -HEX -holdScope encoder_cnt[15:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope r_ec[15:0]
addSignal -h 15 -holdScope encoder_dir_forward_trigger
addSignal -h 15 -holdScope encoder_dir_reverse_trigger
addSignal -h 15 -holdScope r_ed
addGroup "G6"
addSignal -h 15 /TOP/u_mcu_top/u_fp_domain/u_apb2_async_top/u_advtim/u_advtim_pe_core/u_advtim_cnt_enc/ec1prefc
addSignal -h 15 -holdScope ec1nrefc
addSignal -h 15 /TOP/u_mcu_top/u_fp_domain/u_apb2_async_top/u_advtim/u_advtim_pe_core/u_advtim_cnt_enc/u_channel_encoder_input/ec1prefc_first_detected
addSignal -h 15 -holdScope ec1prefc_second_detected
addSignal -h 15 -holdScope ec1nrefc_first_detected
addSignal -h 15 -holdScope ec1nrefc_second_detected
addSignal -h 15 -holdScope encoder_detected_in_mode2
addSignal -h 15 -holdScope encoder_dir_forward_trigger
addSignal -h 15 -holdScope encoder_dir_reverse_trigger
addSignal -h 15 -holdScope encoder_dir
addSignal -h 15 -holdScope r_ed
addGroup "G7"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

