Magic 271485
Revision Verdi_T-2022.06

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 25 1920 503 234 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/master/project/cm3_ahbmtx_mcu/sim/verilog_sim/fw_test/TOP.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
windowTimeUnit 1ns

; waveform viewport range
zoom 28285.282332 51286.672518 1n
cursor 30918.750000
marker 563868.750000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 35
; marker line index
markerPos 50

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


aliasmapname advtim_cnt_cap.current_state
nalias CAPTURE_FIRST_STAGE		3'b010		NULL
nalias CAPTURE_IDLE		4'b0001		NULL
nalias CAPTURE_SECOND_STAGE		4'b0100		NULL
nalias CAPTURE_IDLE		3'b001		NULL
nalias CAPTURE_SECOND_STAGE		3'b100		NULL
nalias CAPTURE_FIRST_STAGE		4'b0010		NULL
nalias CAPTURE_WAIT		4'b1000		NULL

addGroup "G1"
activeDirFile "" "/home/master/project/cm3_ahbmtx_mcu/sim/verilog_sim/fw_test/TOP.fsdb"
addSignal -h 15 /TOP/u_pwm_model/pwm_enable
addSignal -h 15 -holdScope pwm_output
addSignal -h 15 -UNSIGNED -HEX -holdScope pwm_half[15:0]
addSignal -h 15 -UNSIGNED -HEX /TOP/u_mcu_top/u_fp_domain/u_apb0_sync_top/u_debug_reg/debug0[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope debug1[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope debug2[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope debug3[31:0]
addGroup "G2"
addSignal -h 15 /TOP/u_mcu_top/u_fp_domain/u_apb2_async_top/u_advtim/advtim_pe_cap_tim_enable
aliasname advtim_cnt_cap.current_state
addSignal -h 15 -UNSIGNED -HEX /TOP/u_mcu_top/u_fp_domain/u_apb2_async_top/u_advtim/u_advtim_pe_core/u_advtim_cnt_cap/current_state[3:0]
aliasname advtim_cnt_cap.current_state
addSignal -h 15 -UNSIGNED -HEX -holdScope next_state[3:0]
addSignal -h 15 /TOP/u_mcu_top/u_fp_domain/u_apb2_async_top/u_advtim/u_advtim_pe_core/u_channel_ctrl/ic1prefc
addSignal -h 15 -holdScope ic1prefc_first_detected
addSignal -h 15 -holdScope ic1prefc_second_detected
addSignal -h 15 -holdScope ic1prefc_first_valid
addSignal -h 15 -holdScope ic1prefc_second_valid
addSignal -h 15 -holdScope ic1prefc_first_capturing
addSignal -h 15 -holdScope ic1prefc_second_capturing
addGroup "G3"
addSignal -h 15 /TOP/u_mcu_top/u_fp_domain/u_apb2_async_top/u_advtim/u_advtim_pe_core/u_channel_ctrl/r1_cc1p
addSignal -h 15 /TOP/u_mcu_top/u_fp_domain/u_apb2_async_top/u_advtim/u_advtim_pe_core/u_channel_ctrl/u_input_capture_channel1p_first_detect/input_valid
addSignal -h 15 -UNSIGNED -HEX -holdScope delay_value[3:0]
addSignal -h 15 -holdScope input_valid_delay
addSignal -h 15 -UNSIGNED -HEX -holdScope detection_cnt[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope delay_value[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope loss_cnt[3:0]
addGroup "G4"
aliasname advtim_cnt_cap.current_state
addSignal -h 15 -UNSIGNED -HEX /TOP/u_mcu_top/u_fp_domain/u_apb2_async_top/u_advtim/u_advtim_pe_core/u_advtim_cnt_cap/current_state[3:0]
addSignal -h 15 /TOP/u_mcu_top/u_fp_domain/u_apb2_async_top/u_advtim/u_advtim_pe_core/u_channel_ctrl/ic1prefc
addSignal -h 15 /TOP/u_mcu_top/u_fp_domain/u_apb2_async_top/u_advtim/u_advtim_pe_core/u_advtim_cnt_cap/ic1prefc_first_detected
addSignal -h 15 -holdScope cap_running
addSignal -h 15 -UNSIGNED -HEX -holdScope r_psc[15:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope psc_cnt[15:0]
addSignal -h 15 -holdScope psc_flag_end
addSignal -h 15 -UNSIGNED -HEX -holdScope r_arr[15:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope arr_cnt[15:0]
addSignal -h 15 -holdScope arr_flag_end
addSignal -h 15 -UNSIGNED -HEX -holdScope rcr_cnt[15:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope r_psc_last[15:0]
addSignal -h 15 -holdScope pe_cap_hw_update
addGroup "G5"
addSignal -h 15 /TOP/u_mcu_top/u_fp_domain/u_apb2_async_top/u_advtim/u_advtim_pe_core/u_channel_ctrl/ic1prefc
aliasname advtim_cnt_cap.current_state
addSignal -h 15 -UNSIGNED -HEX /TOP/u_mcu_top/u_fp_domain/u_apb2_async_top/u_advtim/u_advtim_pe_core/u_advtim_cnt_cap/current_state[3:0]
addSignal -h 15 -holdScope cap_reload_flag_in_step_mode
addSignal -h 15 -holdScope cap_reload_flag_in_pwm_mode
addSignal -h 15 -holdScope cap_reload_flag
addSignal -h 15 -UNSIGNED -HEX -holdScope r_rcr[15:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope period_cnt[15:0]
addSignal -h 15 -holdScope cap_reload_finish
addSignal -h 15 -holdScope int_status_cap_end
addGroup "G6"
aliasname advtim_cnt_cap.current_state
addSignal -h 15 -UNSIGNED -HEX /TOP/u_mcu_top/u_fp_domain/u_apb2_async_top/u_advtim/u_advtim_pe_core/u_advtim_cnt_cap/current_state[3:0]
addSignal -h 15 -holdScope cap_period_start
addSignal -h 15 -UNSIGNED -HEX -holdScope psc_cnt[15:0]
addSignal -h 15 -UNSIGNED -HEX /TOP/u_mcu_top/u_fp_domain/u_apb2_async_top/u_advtim/u_advtim_pe_core/u_advtim_cnt_cap/u_channel_input_capture/arr_cnt[15:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope rcr_cnt[15:0]
addSignal -h 15 /TOP/u_mcu_top/u_fp_domain/u_apb2_async_top/u_advtim/u_advtim_pe_core/u_advtim_cnt_cap/cap_reload_flag_in_step_mode
addSignal -h 15 /TOP/u_mcu_top/u_fp_domain/u_apb2_async_top/u_advtim/u_advtim_pe_core/u_advtim_cnt_cap/u_channel_input_capture/ic1prefc_first_detected
addSignal -h 15 -UNSIGNED -HEX -holdScope r_ilr[15:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope r_ilc[15:0]
addSignal -h 15 -holdScope ic1prefc_second_detected
addSignal -h 15 -UNSIGNED -HEX -holdScope r_ifr[15:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope r_ifc[15:0]
addGroup "G7"
addSignal -h 15 -UNSIGNED -UDEC /TOP/u_mcu_top/u_fp_domain/u_apb2_async_top/u_advtim/u_advtim_pe_core/u_advtim_cnt_cap/temp2[31:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope temp[31:0]
addGroup "G8"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

