Magic 271485
Revision Verdi_T-2022.06

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 25 1920 394 100 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/master/project/cm3_ahbmtx_mcu/sim/verilog_sim/bastim_testcase/TOP.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 2883651000.000000
cursor 1858250000.000000
marker 1858350000.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 6
; marker line index
markerPos 17

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/master/project/cm3_ahbmtx_mcu/sim/verilog_sim/bastim_testcase/TOP.fsdb"
addSignal -h 15 /TOP/u_mcu_top/u_fp_domain/u_apb1_async_top/apb1_root_clk
addGroup "G2"
addSignal -h 15 -UNSIGNED -HEX /TOP/u_mcu_top/u_fp_domain/u_apb1_async_top/u_bastim/u_bastim_ch_core/BASTIM_CH[0]/u_bastim_ch/channel_cnt[15:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope clkdiv_cnt[15:0]
addSignal -h 15 -holdScope ch_reload_flag
addSignal -h 15 -UNSIGNED -HEX /TOP/u_mcu_top/u_fp_domain/u_apb1_async_top/u_bastim/u_bastim_ch_core/BASTIM_CH[1]/u_bastim_ch/clkdiv_cnt[15:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope channel_cnt[15:0]
addSignal -h 15 -holdScope ch_reload_flag
addSignal -h 15 -UNSIGNED -HEX /TOP/u_mcu_top/u_fp_domain/u_apb1_async_top/u_bastim/u_bastim_ch_core/BASTIM_CH[2]/u_bastim_ch/clkdiv_cnt[15:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope channel_cnt[15:0]
addSignal -h 15 -holdScope ch_reload_flag
addSignal -h 15 -UNSIGNED -HEX /TOP/u_mcu_top/u_fp_domain/u_apb1_async_top/u_bastim/u_bastim_ch_core/BASTIM_CH[3]/u_bastim_ch/clkdiv_cnt[15:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope channel_cnt[15:0]
addSignal -h 15 -holdScope ch_reload_flag
addGroup "G3"
addSignal -h 15 -UNSIGNED -HEX /TOP/u_mcu_top/u_fp_domain/u_apb1_async_top/u_bastim/int_tgr[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope bastim_int_line[3:0]
addGroup "G4"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

