Magic 271485
Revision Verdi_T-2022.06

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 25 1920 394 161 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/master/project/cm3_ahbmtx_mcu/sim/verilog_sim/fpga_7020_cpu_itcm_boot_sim/TOP.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 1278639800.000000
cursor 6890000.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 58
; marker line index
markerPos 71

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


aliasmapname cmsdk_ahb_to_apb_async_p.curr_state
nalias fsm_apb_idle		2'b00		NULL
nalias fsm_apb_cyc1		2'b01		NULL
nalias fsm_apb_wait		2'b11		NULL

addGroup "G1"
activeDirFile "" "/home/master/project/cm3_ahbmtx_mcu/sim/verilog_sim/fpga_7020_cpu_itcm_boot_sim/TOP.fsdb"
addSignal -h 15 /TOP/u_mcu_top/u_fp_domain/u_sram_top/hsel_itcm
addSignal -h 15 -holdScope hready_itcm
addSignal -h 15 -UNSIGNED -HEX -holdScope htrans_itcm[1:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope hsize_itcm[2:0]
addSignal -h 15 -holdScope hwrite_itcm
addSignal -h 15 -UNSIGNED -HEX -holdScope haddr_itcm[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope hprot_itcm[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope hwdata_itcm[31:0]
addSignal -h 15 -holdScope hreadyout_itcm
addSignal -h 15 -UNSIGNED -HEX -holdScope hresp_itcm[1:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope hrdata_itcm[31:0]
addGroup "G2"
addSignal -h 15 /TOP/u_mcu_top/u_fp_domain/u_sram_top/hsel_dtcm
addSignal -h 15 -holdScope hready_dtcm
addSignal -h 15 -UNSIGNED -HEX -holdScope htrans_dtcm[1:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope hsize_dtcm[2:0]
addSignal -h 15 -holdScope hwrite_dtcm
addSignal -h 15 -UNSIGNED -HEX -holdScope haddr_dtcm[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope hprot_dtcm[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope hwdata_dtcm[31:0]
addSignal -h 15 -holdScope hreadyout_dtcm
addSignal -h 15 -UNSIGNED -HEX -holdScope hresp_dtcm[1:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope hrdata_dtcm[31:0]
addGroup "G3"
addSignal -h 15 -UNSIGNED -HEX /TOP/u_mcu_top/u_fp_domain/u_sram_top/itcm_addr[12:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope itcm_wdata[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope itcm_wen[3:0]
addSignal -h 15 -holdScope itcm_cs
addSignal -h 15 -UNSIGNED -HEX -holdScope itcm_rdata[31:0]
addGroup "G4"
addSignal -h 15 -UNSIGNED -HEX /TOP/u_mcu_top/u_fp_domain/u_sram_top/dtcm_addr[12:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope dtcm_wdata[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope dtcm_wen[3:0]
addSignal -h 15 -holdScope dtcm_cs
addSignal -h 15 -UNSIGNED -HEX -holdScope dtcm_rdata[31:0]
addGroup "G5"
addSignal -h 15 -UNSIGNED -HEX /TOP/u_mcu_top/u_fp_domain/u_CORTEXM3INTEGRATION/vis_r0_o[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope vis_r1_o[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope vis_r2_o[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope vis_r3_o[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope vis_r4_o[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope vis_r5_o[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope vis_r6_o[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope vis_r7_o[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope vis_r8_o[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope vis_r9_o[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope vis_r10_o[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope vis_r11_o[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope vis_r12_o[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope vis_msp_o[31:2]
addSignal -h 15 -UNSIGNED -HEX -holdScope vis_psp_o[31:2]
addSignal -h 15 -UNSIGNED -HEX -holdScope vis_pc_o[31:1]
addGroup "G6"
addSignal -h 15 -UNSIGNED -HEX /TOP/u_mcu_top/u_fp_domain/hwdata_apb1[31:0]
addSignal -h 15 -holdScope hwrite_apb1
addSignal -h 15 -UNSIGNED -HEX -holdScope haddr_apb1[14:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope paddr1[14:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope haddr_apb1[31:0]
addSignal -h 15 -UNSIGNED -HEX /TOP/u_mcu_top/u_fp_domain/u_apb1_async/u_ahb_to_apb_async_p/s_addr[12:0]
addSignal -h 15 -UNSIGNED -HEX /TOP/u_mcu_top/u_fp_domain/u_apb1_async/u_ahb_to_apb_async_h/HADDR[14:2]
addSignal -h 15 /TOP/u_mcu_top/u_fp_domain/u_apb1_async/u_ahb_to_apb_async_p/curr_state[0]
addSignal -h 15 -UNSIGNED -HEX -holdScope s_addr[12:0]
aliasname cmsdk_ahb_to_apb_async_p.curr_state
addSignal -h 15 -UNSIGNED -HEX -holdScope next_state[1:0]
addSignal -h 15 -holdScope req_detect
addSignal -h 15 -holdScope s_trans_valid_reg
addSignal -h 15 -holdScope PREADY
addSignal -h 15 -UNSIGNED -HEX /TOP/u_mcu_top/u_fp_domain/pwdata1[31:0]
addSignal -h 15 -holdScope pwrite1
addGroup "G7"
addSignal -h 15 /TOP/u_mcu_top/TXD
addSignal -h 15 -holdScope RXD
addGroup "G8"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

