Magic 271485
Revision Verdi_T-2022.06

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 25 1920 436 161 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/master/project/cm3_ahbmtx_mcu/sim/verilog_sim/fpga_7020_cpu_itcm_boot_sim/TOP.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 1554624.899445 3487137.060445
cursor 2130100.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 12

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


aliasmapname cmsdk_ahb_to_apb_async_p.curr_state
nalias fsm_apb_idle		2'b00		NULL
nalias fsm_apb_cyc1		2'b01		NULL
nalias fsm_apb_wait		2'b11		NULL

addGroup "G1"
activeDirFile "" "/home/master/project/cm3_ahbmtx_mcu/sim/verilog_sim/fpga_7020_cpu_itcm_boot_sim/TOP.fsdb"
addSignal -h 15 /TOP/u_mcu_top/u_fp_domain/u_sram_top/u_itcm/inst/native_mem_module/blk_mem_gen_v8_4_4_inst/reg_a/regce_i
addSignal -h 15 -UNSIGNED -HEX -holdScope DOUT[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope DIN[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope DIN_I[31:0]
addSignal -h 15 -UNSIGNED -HEX /TOP/u_mcu_top/u_fp_domain/u_sram_top/u_itcm/inst/native_mem_module/blk_mem_gen_v8_4_4_inst/inita_val[31:0]
addSignal -h 15 -UNSIGNED -HEX /TOP/u_mcu_top/u_fp_domain/u_sram_top/u_itcm/inst/native_mem_module/blk_mem_gen_v8_4_4_inst/reg_a/DIN[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope DIN_I[31:0]
addSignal -h 15 -UNSIGNED -HEX /TOP/u_mcu_top/u_fp_domain/u_sram_top/u_itcm/inst/native_mem_module/blk_mem_gen_v8_4_4_inst/memory_out_a[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope inita_val[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope inita_str[255:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope mem_data[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope mif_data[31:0]
addGroup "G2"
addGroup "G3"
addGroup "G4"
addGroup "G5"
addGroup "G6"
addGroup "G7"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

